<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>101 galaxy not found</title>
  <link rel="stylesheet" href="/assets_error/css/style.css">
  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="/assets_main/images/favicon(1).png" type="image/png">
  <!-- scrollbar -->
  <link rel="stylesheet" href="/assets_main/css/scrollbar.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main class='container'>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>1</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <article class='content'>
    <p>Damnit <span style="color: #e62b1e;">curious cat</span>,</p>
    <p>You got lost in the <strong><span style="color: #e62b1e;">101</span></strong> galaxy.</p>
    <p>
      <a href="/"><button>Go back to earth.</button></a>
    </p>
  </article>
</main>


</body>
</html>
