<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Payment Page</title>
  <link rel="stylesheet" href="assets_payment/css/style.css">
  <link rel="shortcut icon" href="assets_main/images/favicon(1).png" type="image/png">

</head>
<body>
<!-- partial:index.partial.html -->
<main class='container'>
  <span class='particle'>SCAN</span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <span class='particle'><span class='particle'>SCAN</span></span>
  <article class='content'>
    <img style="width: 50%" src="assets_payment/images/qr.png" alt="">
    <p><%= heading %></p>
    <p>₹<%= cost / 100 %></p>
    <h1>Click on the button below to complete your Transaction</h1>
    <button class="main-btn" onclick="location.href='/confirmation?tier=<%= tier %>';">Done</button>
  </article>
</main>


</body>
</html>