<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <h1><%= heading %></h1>
    <button id="rzp-button1">Pay</button>
    <script>
        document.getElementById('rzp-button1').onclick = async function(e){   
            const order = await axios.get('http://localhost:3000/order');
            console.log(order);
            console.log(order.data.id);
            var options = {
                "key": '<%- process.env.RAZOR_PAY_KEY_ID %>',
                "amount": "1000",
                "currency": "INR",    
                "name": "Acme Corp",    
                "description": "Test Transaction",      
                "order_id": order.data.id,
                "callback_url": "http://localhost:3000/capture",
                "theme": {        
                    "color": "#3399cc"    
                }
            };
            var rzp1 = new Razorpay(options); 
                rzp1.open();    
                e.preventDefault();
        }
    </script>
</body>
</html>