<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Payment Page</title>
  <link rel="stylesheet" href="assets_payment/css/style.css">
  <link rel="shortcut icon" href="assets_main/images/favicon(1).png" type="image/png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<main class='container'>
  <span class='particle'>SEND</span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <span class='particle'><span class='particle'>SEND</span></span>
  <article class='content'>
    <div>
        <p id="p" style="display: inline; font-size: 2rem;">Order ID: <%= orderid %></p><button id="clipboardCopy" class="smol-btn">copy</button>
    </div>
    <h1>Send a screenshot of your payment and order id displayed above on <br><a href="tel:+919718880646" style="color: white;">+91 97188 80646 </a>or <a href="tel:+919910644764" style="color: white;"> +91 99106 44764</a></h1>
    <button class="main-btn" onclick="location.href='/confirmed';">Done</button>
  </article>
</main>
<script>
    document.getElementById('clipboardCopy').addEventListener('click', clipboardCopy);
    async function clipboardCopy() {
        let text = document.querySelector("#p").textContent;
        await navigator.clipboard.writeText(text);
    }
</script>

</body>
</html>