<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEDxBennettUniversity | Thank You</title>
    <link rel="shortcut icon" href="assets_main/images/favicon(1).png" type="image/png">
    <link href="assets_thankyou/css/vendors.css" rel="stylesheet">
    <link href="assets_thankyou/css/index.css" rel="stylesheet">
</head>

<body>
    <div class="overlay"></div>
    <main style="position: relative;">
        <div class="element"
            style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;padding-top: 20px;height: 20px;text-align: center;">
            <h3><%= msg1 %></h3>
            <h3><%= msg2 %> </h3>
            <div class="container">
                <div class="center">
                    <button class="main-btn" onclick="window.location.href='/'">Back to Main Website</button>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript" src="assets_thankyou/js/vendors.js">
</script>
<script type="text/javascript" src="assets_thankyou/js/index.js"></script>

</html>