<div id="home" class="header-content-area bg_cover d-flex align-items-center" style="background-color: black;">
    <!-- <div id="home" class="header-content-area bg_cover d-flex align-items-center" style="background-image: url(assets/images/header-bg.jpg)"> -->
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div data-countdown="2021/03/27"></div>
                
                <div class="header-content text-center">
                    <h2 class="header-title"><span style="color: #f02805; font-weight: 900;">TED<sup>x</sup></span><span style="font-family: Helvetica; font-weight: lighter;">BennettUniversity</span></h2>
                    <h3 class="sub-title">27 March, 2021</h3>

                    <ul class="header-btn">
                        <li><a class="main-btn main-btn-2" href="/register?tier=discounted_pass">Register Now</a></li>
                        <li><a class="main-btn page-scroll" href="#about">Learn More</a></li>
                    </ul>
                </div>  <!-- header content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- header content -->
</header>