<section id="pricing" class="pricing-area pt-115 pb-200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-20">
                    <h2 class="title">Ticket Pricing</h2>
                    <p class="text" style="color: white;">Don’t miss this chance to save your place among the 100 who’ll get to be on the Zoom call with the speakers.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing text-center mt-30 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="pricing-name">
                        <h4 class="pricing-title">BASIC PASS</h4>
                        <span class="sub-title" style="color: #0a0a0a;">*Available till 27<sup>th</sup> March*</span>
                    </div>
                    <div class="pricing-price">
                        <span>₹ 250.00</span>
                        <!-- <p class="text">Per Day</p> -->
                    </div>
                    <div class="pricing-list">
                        <!-- <ul >
                            <li style="color: #0a0a0a;">Pro  Regular Seating</li>
                            <li style="color: #0a0a0a;">Best Comfortable Seat</li>
                            <li style="color: #0a0a0a;">Coffee Break With Snacks</li>
                            <li style="color: #0a0a0a;">One Workshop For Practise</li>
                            <li style="color: #0a0a0a;">Course Certificate</li>
                        </ul> -->
                    </div>
                    <div class="pricing-btn">
                        <a class="main-btn" style="background-color: #0a0a0a; color:white;" href="/register?tier=basic_pass">Buy Ticket</a>
                    </div>
                </div> <!-- single pricing -->
            </div>
            <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing active text-center mt-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="pricing-name">
                        <h4 class="pricing-title">Early Bird</h4>
                        <span class="sub-title" style="color: #0a0a0a;">*Available for limited time only*</span>
                    </div>
                    <div class="pricing-price">
                        <span>₹ 100.00</span>
                        <!-- <p class="text">Per Day</p> -->
                    </div>
                    <div class="pricing-list">
                        <!-- <ul>
                            <li style="color: #0a0a0a;">Pro  Regular Seating</li>
                            <li style="color: #0a0a0a;">Best Comfortable Seat</li>
                            <li style="color: #0a0a0a;">Coffee Break With Snacks</li>
                            <li style="color: #0a0a0a;">One Workshop For Practise</li>
                            <li style="color: #0a0a0a;">Course Certificate</li>
                        </ul> -->
                    </div>
                    <div class="pricing-btn">
                        <a class="main-btn main-btn-2" href="/register?tier=early_bird">Buy Ticket</a>
                    </div>
                </div> <!-- single pricing -->
            </div>
            <!-- <div class="col-lg-4 col-md-8 col-sm-9">
                <div class="single-pricing text-center mt-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="pricing-name">
                        <h4 class="pricing-title">PREMIUM PASS</h4>
                        <span class="sub-title" style="color: #0a0a0a;">Price Excluding 20% VAT</span>
                    </div>
                    <div class="pricing-price">
                        <span>₹ 500.00</span>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li style="color: #0a0a0a;">Pro  Regular Seating</li>
                            <li style="color: #0a0a0a;">Best Comfortable Seat</li>
                            <li style="color: #0a0a0a;">Coffee Break With Snacks</li>
                            <li style="color: #0a0a0a;">One Workshop For Practise</li>
                            <li style="color: #0a0a0a;">Course Certificate</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="main-btn" style="background-color: #0a0a0a; color:white;" href="/register?tier=premium_pass">Buy Ticket</a>
                    </div>
                </div>
            </div> -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>